/* General Styles */
.contact-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .header-container {
    font-size: 2rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 30px;
    margin-top: 100px;
    text-align: center;
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* .contact-header h1 {
    font-size: 2.5rem;
    color: #333;
  } */
  
  .contact-header h2 {
    font-size: 2rem;
    color: #555;
  }
  
  .contact-header p {
    font-size: 1rem;
    color: #777;
  }
  
  /* Contact Container */
  .contact-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  
  .contact-info, .contact-form {
    flex: 1;
  }
  
  .contact-info {
    /* background-color: #f9f9f9; */
    padding: 5px;

    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 0;
    margin-top: 150px;
    
  }
  
  .contact-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 1rem;
    color: #555;
    /* margin-bottom: 10px; */
  }
  
  /* Contact Form */
  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
 
  .custom-button{
    background-color: #F52324;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .contact-icon{
    margin-right: 8px;
    border: 2px solid darkgray; 
    font-size:  1.5rem;
    border-radius: 5px;
    color: #F52324;
    padding: 5px;
    text-align: center;
    
  }
  .contact-icon-wrapper {
    display: flex;                /* Use flexbox layout */
    align-items: center;          /* Vertically center the icon and text */
    justify-content: flex-start;  /* Align items to the left */
    margin-bottom: 10px;          /* Add space between items (optional) */
  }
  .text-wrapper{
    padding: 5px;
  }
  .contact-info p:last-child {
    margin-bottom: 0;
  }