:root {
  --Primarycolor: #F52324;
  --Secondarycolor: #B11224;
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(200, 100%, 1%);
  --textColor: hsl(240, 3%, 23%);
}

.link-underline-issue {
  text-decoration: none;
  margin-top: 10px;
}

.activePage {
  border-bottom: 2.5px solid var(--Primarycolor); /* Optional: add a border for emphasis */
}

.headerNavbar {
  position: fixed;
  justify-content: space-between;
  background: var(--whiteColor);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.645);
}
.headerNavbar .logo {
  height: 90px;
  width: 150px;
  color: var(--blackColor);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.headerNavbar .logo .icon {
  font-size: 20px;
  height: 90px;
  width: 100px;
  color: var(--Primarycolor);
}
@media screen and (max-width: 768px) {
  .headerNavbar .navBar {
    position: absolute;
    background: var(--blackColor);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.2s ease-in-out;
  }
  .headerNavbar .navBar .navLists-FT {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT {
    padding: 0.5rem 0;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT {
    color: var(--whiteColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT:hover {
    color: var(--Secondarycolor);
  }
  .headerNavbar .navBar .closeNavBar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--Secondarycolor);
  }
  .headerNavbar .navBar .closeNavBar:hover {
    color: var(--Primarycolor);
  }
  .headerNavbar .activeNavbar {
    top: 6rem;
  }
}
.headerNavbar .toggleNavBar .icon {
  font-size: 25px;
  color: var(--Secondarycolor);
}
.headerNavbar .toggleNavBar:hover.icon {
  color: var(--Primarycolor);
}

/* MEDIA QUERIES */
@media screen and (min-width: 769px) {
  .toggleNavBar, .closeNavBar {
    display: none;
  }
  .headerNavbar {
    padding: 0.5rem 1rem;
  }
  .headerNavbar .navbar .navLists-FT {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .headerNavbar .navbar .navLists-FT .navItem-FT .NavBarLinks-FT {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  .headerNavbar .navbar .navLists-FT .navItem-FT .NavBarLinks-FT:hover {
    color: var(--Primarycolor);
  }
}
@media screen and (min-width: 960px) {
  .headerNavbar {
    padding: 0.5rem 1rem;
  }
  .headerNavbar .navBar .navLists-FT {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT {
    padding: 0 0.7rem;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT {
    text-decoration: none;
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT:hover {
    color: var(--Primarycolor);
  }
}
@media screen and (min-width: 1240px) {
  .headerNavbar {
    padding: 0.5rem 1rem;
  }
  .headerNavbar .navBar .navLists-FT Link {
    text-decoration: none;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT {
    padding: 0 0.7rem;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .headerNavbar .navBar .navLists-FT .navItem-FT .NavBarLinks-FT:hover {
    color: var(--Primarycolor);
  }
}
@media screen and (min-width: 760px) and (max-width: 960px) {
  .headerNavbar {
    padding: 0.25rem 0.75rem;
  }
  .headerNavbar .navBar .navLists-FT {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Keep nav items in a row */
  }
  .headerNavbar .navBar .navItem-FT {
    padding: 0 0.5rem;
  }
  .headerNavbar .navBar .navItem-FT .NavBarLinks-FT {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.45rem;
    text-decoration: none;
    margin-bottom: 0;
  }
  .headerNavbar .navBar .navItem-FT .NavBarLinks-FT:hover {
    color: var(--Primarycolor);
  }
  .toggleNavBar, .closeNavBar {
    display: none; /* Hide toggler for larger screens within this range */
  }
}/*# sourceMappingURL=Navbar.css.map */